// @import "../../scss/variables.scss";

$background-box:rgb(0, 0, 0);
$fontColor:white;
$fontSizeTitle:50px;
$fontSize:20px;
$fontFamily: 'Bebas Neue', cursive;


* {
    margin: 0;
    padding: 0;
}
video {
    position: relative;
    width: 100% ;
    object-fit: cover;
    top: -10%;
    z-index: 1;
    height: 70vh;
    -webkit-box-shadow: 2px 14px 6px -9px rgba(0,0,0,0.7);
    -moz-box-shadow: 2px 14px 6px -9px rgba(0,0,0,0.7);
    box-shadow: 2px 14px 6px -9px rgba(0,0,0,0.7);
}

.section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .sectionText {
        text-align: center;
        color: white;
        position: absolute;
        margin-top: inherit !important;
        width: 100%;
        height: 30%;
        z-index: 100;
        font-family: $fontFamily;
    }
    .sectionLogo {
        width: 100%;
        display: block;
        overflow: hidden;
        top: -50%;
    }
    .Logo {
        width: 100%;
        overflow: hidden;
        .logo1 {
            margin-top: 0px;
            width: 35%;
            top: 50%;
            -webkit-filter: drop-shadow(5px 5px 5px #535252 );
            filter: drop-shadow(5px 5px 5px #555454);
        }
    }
}

.logo-text {
    // border: 2px solid red;
    text-align: center;
    position: absolute;
    width: 100%;
    display: inherit;
    z-index: 50;
    h1 {
        font-size: 10rem;
        color: white;
        display: block;
        align-items: center;
        justify-content: center;
        font-family: $fontFamily;
        
    }
}

.sectionText {
    text-align: center;
    color: white;
    position: absolute;
    margin-top: -100px;
    width: 100%;
    height: 30%;
    z-index: 10;
    -webkit-filter: drop-shadow(5px 5px 5px #000000 );
    top: 30%;
    font-family: $fontFamily;
}

.color-overlay {
    position: absolute;
    left: 0;
    background-color: black;
    width: 100%;
    height: 70vh;
    opacity: 0.4;
    z-index: 5;
    
}
//navbar

a {
    color:black;
}

.textPromotion {
    width: 100%;
    padding: 2%;
    justify-content: center;
    text-align: center;
    font-family: $fontFamily;
    background-color: #f4f4f4;
    
    
}

.Slider {
    width: 100%;
    position: relative;
    box-sizing:  border-box;
    padding:10px, 50px;
    background-color: #f4f4f4;
    
}
.Slick {
    position: relative;
    width: 100%;
    max-width: 1170px;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px 20px;

    .slickItem {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding: 0px 10px;
    }
}

// Card
.container {
    position: relative;
 

    .card:hover {
        scale: 5;
    }
}

.container .card:before {
	background-color: #f9780e;
	clip-path: circle(100px at 40% 10%);
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: clip-path 0.2s ease-in-out;
	width: 150%;
}

.container .card:hover:before,
.container .card:focus:before,
.container .card:active:before {
	clip-path: circle(150px at 50% -15%);
}

.container .card {
	position: relative;
	width: 180px;
	height: 300px;
	background-color: #232323;
	// border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: 8px 11px 8px -6px rgba(0,0,0,1);
    -moz-box-shadow: 8px 11px 8px -6px rgba(0,0,0,1);
    box-shadow: 8px 11px 8px -6px rgba(0,0,0,1);
}

.container .card:after {
	color: rgba(255, 255, 255, 0.04);
	content: 'Clen';
	font: 800 6rem 'Poppins', italic;
	left: -20%;
	position: absolute;
	top: 30%;
}

.container .card .img-box {
	height: 110px;
	position: absolute;
	top: 25%;
	transform: translateY(-50%);
	transition: top 0.2s ease,
	transform 0.2s ease;
	width: 100%;
	z-index: 1;
}

.container .card:hover .img-box {
	top: 0%;
	transform: translateY(0%);
}

.container .card .img-box img {
	position: absolute;
	top:100%;
	left:10%;
	transform: translate(-50%, -50%) rotateY(180deg) rotateZ(25deg);
	width: 270px;
}

.container .card .content-box {
	bottom: 0;
	height: 100px;
	position: absolute;
	text-align: center;
	transition: height 0.5s ease;
	width: 100%;
	z-index: 1;
}

.container .card:hover .content-box,
.container .card:focus .content-box,
.container .card:active .content-box {
	height: 210px;
}

.container .card .content-box h2 {
	color: #ffffff;
	font-weight: 600;
	letter-spacing: 1px;
    position: relative;
    // font-size: 20px;
}

.container .card .content-box .size,
.container .card .content-box .color {
	align-items: center;
	display: flex;
	justify-content: center;
	opacity: 0;
	padding: 8px 20px;
	transition: opacity 0.3s ease;
	visibility: hidden;
}

.container .card:hover .content-box .size,
.container .card:focus .content-box .size,
.container .card:active .content-box .size {
	opacity: 1;
	transition-delay: 0.5s;
    visibility: visible;
    font-size: 20px;
}

.container .card:hover .content-box .color,
.container .card:focus .content-box .color,
.container .card:active .content-box .color {
	opacity: 1;
	transition-delay: 0.6s;
	visibility: visible;
}

.container .card .content-box .size h3,
.container .card .content-box .color h3 {
	color: #ffffff;
	font: 300 12px 'Poppins', italic;
	letter-spacing: 2px;
	margin-right: 10px;
	text-transform: uppercase;
}

.container .card .content-box .size span {
	background-color: #ffffff;
	border-radius: 4px;
	color: #111111;
	cursor: pointer;
	display: inline-block;
	font: 600 14px 'Poppins', italic;
	height: 26px;
	line-height: 26px;
	margin: 0 5px;
	text-align: center;
	transition: background-color 0.3ds ease;
	width: 26px;
}

.container .card .content-box .size span:hover,
.container .card .content-box .size span:focus,
.container .card .content-box .size span:active {
	background-color: #f9780e;
}

.container .card .content-box .color span {
	border-radius: 40%;
	cursor: pointer;
	height: 20px;
	margin: 0 5px;
	width: 20px;
}

.container .card .content-box .color span:nth-child(2) {
	background-color: #f15e22;
}

.container .card .content-box .color span:nth-child(3) {
	background-color: #0ea9f4;
}

.container .card .content-box .color span:nth-child(4) {
	background-color: #e91e63;
}

.container .card .content-box a {
	background-color: #ffffff;
	border-radius: 4px;
	color: #111111;
	display: inline-block;
	font-weight: 600;
	margin-top: 10px;
	opacity: 0;
	padding: 10px 20px;
	text-decoration: none;
	transform: translateY(50px);
	transition: opacity 0.4s ease,
	transform 0.4s ease;
}

.container .card:hover .content-box a {
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s;
}


//  About
.text-about {
    background-color: #f4f4f4;
    display: block;
    padding-top: 5%;
    text-align: center;

    .aboutTitle{
        font-family: $fontFamily;
        background-color: #f4f4f4;
        border: 1px solid none;
        padding-top: 5%;
        .inText-title1 {
            margin-top: 5%;
        }
    }

.about {
        background-color: #1d1c1c;
        position: relative;
        width: 100%;
        display: inline-block;

    .about-img {
        width: 50%;
        float: left;
        text-align: center;

        @media (max-width: 1285px) {
            width: 100%;
            display: none;
        }
        .img-about {
            width: 100%;
        }
    }


    .about-text {
        color: #ffffff;
        text-align: center;
        float: inherit;
        width: 50%;
        display: inline-block;

        @media (max-width: 800px) {
            width: auto;
        }
        .about-text-title{
            color: #ffffff;
            width: 80%;
            display: inline-block;
            font-size: 16px;
            margin-top:15%;
            text-align: left;

            @media (max-width: 1285px) {
                padding: 5%;
                width: 100%;
            }
            h2 {
                text-align: center;
                color: #ffffff;
            }
            .about-text-detail {
                text-indent:50px;
                line-height : normal;
            }
            .about-text-content p {
                line-height : normal;
                white-space: normal; 
                text-indent:50px;
            }
            .texts {
                color: #ffffff;
                font-weight: bolder;
                font-size: 18px;
            }
            
        }
    }
} 
}
figure {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
.about-img figure {
    position: relative;
}
.about-img figure::before {
        position: absolute;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        content: '';
        width: 50%;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
    }
.about-img figure:hover::before {
        -webkit-animation: shine .75s;
        animation: shine .75s;
    }
@-webkit-keyframes shine {
        100% {
            left: 125%;
        }
    }
@keyframes shine {
        100% {
            left: 125%;
        }
    }
hr {
        width: 100%;
        height: 1px;
        background: #c7c7c7;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        display: block;
    }


// Service
.textService {
    position: relative;
    padding-top: 5rem;

    .service-title-two {
        text-align: center;
        background-color:#f17f51;
    }
}
.serviceBox {
        background-color:#f17f51;
        width: 100%;
    }
.serviceBox {
            width: 100%;
            position: relative;
            display: grid;
            place-items: center;
            padding: 50px;

        .inText-title-service {
                font-size: 2.5rem;
                color: rgb(255, 251, 251);
                font-family: $fontFamily;
            }
        .serviceItem {
                width: auto;
                background-color:#f17f51;
                height: auto;

    // table
        .ant-table-pagination.ant-pagination  {
                display: none;
        }
        .ant-spin-nested-loading {
                width: 900px ;

                @media (max-width: 768px) {
                    width: auto;
            }
        }
        th {
            background-color: rgb(78, 78, 78);
            color: white;
        }
        .ant-table-wrapper {
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
        }
    }
}

// contact
.contact {
    width: 100%;
    .address{
        height: 400px;
    }
    .map{
        width: 100%;
        display: flex;
        place-items: center;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 400px;
    }
}
// gallery
.gallery {
    width:100%;
    .gallery-content {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        .child {
            flex: 1 1 150px;
            margin: 10px;
            background-color: tomato;
            position:relative;
            display: inline;
            img {
                width:100%;
                // transform: scale(1.1);
                // display: block;
                // position: relative;
            }
           
        } .overlays{
                
                color:white;
                background-color:purple;
                background-color:rgba(0,0,0,.7);
                text-align: center;
                padding: 17% 5%;
                box-sizing:border-box;
                position:absolute;
                width:100%;
                height: 100%;
                left:0;
                line-height:1;
                top:80%;
                transition:all .2s ease-in;
                opacity:0;
              }
              
              .child:hover .overlays{
                opacity:1;
                top:0;
              }
    }
}

// foot
.foot-home {
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: #3b3b3b;
        color: white;
        display: inline-block;
    .foot-home-text {
        text-align: center;
        font-family: $fontFamily; 
        position: relative;   
        font-size: 3rem;
    }
    .foot-home-contact {
        position: absolute;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        z-index: 1;
        width: 50%;

        ul {
            list-style-type: none;
        }
        li {
            display: inline;
            margin: 5px;
            font-size: 24px;
            margin-top: 2px;
        }
        @media (max-width:1024px) {
            position: relative;
            width: 100%;

            .foot-home-title {
                margin-top: 15px;
            }

        }
    }
}

